pkgbase = racebin-git
	pkgdesc = API-first self-hosted paste bin and file share
	pkgver = 3.0.0.r4.g658773f
	pkgrel = 1
	url = https://github.com/ostrich/racebin
	arch = x86_64
	arch = aarch64
	license = MIT AND BSD-3-Clause
	makedepends = cargo
	makedepends = git
	depends = gcc-libs
	depends = glibc
	provides = racebin
	conflicts = racebin
	options = !lto
	backup = etc/racebin.conf
	source = racebin::git+https://github.com/ostrich/racebin.git#branch=master
	source = racebin.service
	source = racebin.conf
	sha256sums = SKIP
	sha256sums = 6d5a12e7901dd49fa8ee02db20feba855d0cdc3707af53f4ef601b52daa89847
	sha256sums = cfad437cfc0d13bc1559dd46dea2f2620734d682957b3c08ca0436d84928e9e0

pkgname = racebin-git
