pkgbase = racebin-git
	pkgdesc = API-first self-hosted paste bin with attachments
	pkgver = 4.0.0.r39.gd405cd8
	pkgrel = 1
	url = https://github.com/ostrich/racebin
	arch = x86_64
	arch = aarch64
	license = MIT AND BSD-3-Clause
	makedepends = cargo
	makedepends = git
	makedepends = npm
	depends = gcc-libs
	depends = glibc
	provides = racebin
	conflicts = racebin
	options = !lto
	backup = etc/racebin.conf
	source = racebin::git+https://github.com/ostrich/racebin.git#branch=master
	sha256sums = SKIP

pkgname = racebin-git
