pkgbase = racebin-git
	pkgdesc = API-first self-hosted paste bin and file share
	pkgver = 3.0.0.r24.g398b901
	pkgrel = 1
	url = https://github.com/ostrich/racebin
	arch = x86_64
	arch = aarch64
	license = MIT AND BSD-3-Clause
	makedepends = cargo
	makedepends = git
	makedepends = npm
	depends = gcc-libs
	depends = glibc
	provides = racebin
	conflicts = racebin
	options = !lto
	backup = etc/racebin.conf
	source = racebin::git+https://github.com/ostrich/racebin.git#branch=master
	source = racebin.service
	source = racebin.conf
	sha256sums = SKIP
	sha256sums = 6d5a12e7901dd49fa8ee02db20feba855d0cdc3707af53f4ef601b52daa89847
	sha256sums = 7111a62d72330cf8e2bca9f7523cd5583cb532e5bd83714fc025c17c79306014

pkgname = racebin-git
